img.TopGameBlurrImage {
  position: relative;
  z-index: 1;
}
img.TopGameImage {
  position: absolute;
}
img.TopGameBlurrImage2 {
  position: relative;
  z-index: 2;
}
.TopImageContainer {
  position: absolute;
}