<head>
    <link href="~/Content/css/Store/Alert/Opinion.css" rel="stylesheet">
</head>

<div class="Opinion">

    <div class="OpinionBackground">
        <img class="OpinionBackgroundImage" src="~/Content/images/Zero/AlertBackground.svg" />
        <img class="OpinionBackgroundBlurImage" src="~/Content/images/Zero/AlertBackgroundBlur.svg" />
    </div>

    <p class="Question">Interessieren dich Meinnungen von Kuratoren</p>

    <div class="OpinionOptions">
        <p class="Option1 Option">Auf jeden Fall</p>
        <p class="Option2 Option">Ein wenig</p>
        <p class="Option3 Option">Eher nicht</p>
    </div>

</div>
