.List {
  /* display: grid;
    grid-template-columns: 325px 325px 325px 325px 400px;
    grid-template-rows: 50px 50px;*/
}
.Item {
  /*    float: left;
    padding-left: 4vw;
    padding-top: 2vh;*/
}
.ProductList b {
  font-size: 25px;
}
.ProductList p {
  font-size: 16px;
}
.ProductName {
  color: #fff;
  opacity: 0.8;
  font-size: 20px;
}
.Price {
  color: #fff;
  opacity: 0.5;
  font-size: 20px;
}
.ListName {
  color: #fff;
  opacity: 1;
  font-size: 25px;
}
.ListInfo {
  color: #fff;
  opacity: 0.8;
  font-size: 16px;
}
.ProductIcon {
  border-radius: 4%;
}
p.ProductName {
  color: #fff;
  opacity: 0.8;
  font-size: 20px;
}
.ProductList {
  background-color: #1D1D1D;
  width: 100%;
  height: auto;
}
/* Discount View */
.Discount {
  background-color: #00FF80;
  border-radius: 5px 5px 5px 5px;
  opacity: 1;
}
p.Discount {
  color: #12161B;
  font-size: 20px;
  width: 3vw;
}
p.NewPrice {
  color: #fff;
  opacity: 0.5;
  font-size: 20px;
}
s.OldPrice {
  font-size: 20px;
  opacity: 0.2;
  color: #fff;
}