/* Sale Top Image */
.GameDescription {
  /*margin-top: -58vh;
    padding-left: 11vw;*/
}
.BuyTopGame {
  background-color: #00FF80;
  border-radius: 100em;
  border-width: 0;
  color: #fff;
}
.AddToWishCard p {
  font-size: 18px;
}
p.BrandNew {
  font-size: 30px;
  color: var(--MainColor);
  opacity: 1;
}
b.SaleName {
  opacity: 1;
  color: #fff;
  font-size: 60px;
}
p.SaleDescription {
  color: #fff;
  opacity: 1;
  font-size: 60px;
}
/* Sale Filter Bar */
.FilterNav {
  background-color: #1D1D1D;
  height: 8.3vh;
  padding-top: 2.5vh;
  border-bottom: solid 1px var(--MainColor);
  position: sticky;
  top: 8.3vh;
  z-index: 998;
}
p.FilterItem {
  cursor: pointer;
}
p.FilterItem.Action {
  opacity: 1;
}
/* Sale Content */