<head>
    <link href="~/Content/css/Store/Part/ProductDescription.css" rel="stylesheet">
</head>

<div class="ProductDescription container-fluid">

    <div class="row">
        <div class="LeftImage col">
            <img class="DisplayImage img-fluid" src="~/Content/images/Zero/ProductDescription.svg" />
        </div>

        <div class="SideDescription col">
            <p class="DescriptionInfo">Für dich empfohlen</p>
            <b class="AppName">Resident Evil 7</b>
            <p class="CompanyName">Capcom</p>
            <p class="AppDescription">
                Resident Evil 7: Biohazard is a survival horror video game developed and published by Capcom, released in January 2017 for Microsoft Windows, PlayStation 4, Xbox One and in May 2018 for the Nintendo Switch in Japan
            </p>
            <div class="BottomBar container-fluid">
                <button class="GetApp">Early Access testen</button>
                <img class="Like img-fluid" src="~/Content/images/Zero/Like.svg" />
                <img class="Dislike img-fluid" src="~/Content/images/Zero/Dislike.svg" />
            </div>
        </div>
    </div>

</div>
