<head>
    <link href="~/Content/css/Store/Part/ProductListLarge.css" rel="stylesheet">
</head>

<div class="ProductListLarge">

    <p class="ProductListLargeDescription">Die erfolgreichsten <b>Battle Royale</b> Spiele</p>

    <div class="LargeItem">
        
        <img class="AppIconLarge" src="~/Content/images/Zero/ProductListLarge.svg" />

        <p class="AppName">Fortnite: Battle Royale</p>

        <div class="BottomPriceBar">
            <s class="OldPrice">13,99€</s>
            <p class="NewPrice">6,99€</p>
            <p class="Discount">-50%</p>
        </div>
    </div>

    <div class="LargeItem">
        
        <img class="AppIconLarge" src="~/Content/images/Zero/ProductListLarge.svg" />

        <p class="AppName">Fortnite: Battle Royale</p>

        <div class="BottomPriceBar">
            <s class="OldPrice">13,99€</s>
            <p class="NewPrice">6,99€</p>
            <p class="Discount">-50%</p>
        </div>
    </div>

</div>
