<head>
    <link href="~/Content/css/Store/Part/ProductScrollList.css" rel="stylesheet">
</head>

<div class="ProductScrollList container-fluid">

    <div class="List row">

        <div class="ListSide col">
            <b class="Description">Multiplayer Actionspiele, die auch deine Freunde Spielen</b>
            <p class="ViewAll">Alle ansehen</p>
            <img class="Arrow img-fluid" src="~/Content/images/Zero/DropDown.svg" />
        </div>

        @{
            bool sale = true;

            for (int i = 0; i < 4; i++)
            {
                if (!sale)
                {
                    <div class="ScrollItem col">
                        <img class="ProductIcon img-fluid" src="~/Content/images/Zero/ExampleProduct.svg" />
                        <p class="ProductName">Minecraft Story Mode</p>
                        <p class="Price">9,99€</p>
                    </div>
                }
                else
                {
                    <div class="ScrollItem col">
                        <img class="ProductIcon img-fluid" src="~/Content/images/Zero/ExampleProduct.svg" />
                        <p class="ProductName">Minecraft Story Mode</p>
                        <div class="PriceGroup container-fluid">
                            <div class="row">
                                <s class="OldPrice col-md-3">13,99€</s>
                                <p class="NewPrice col-md-3">6,99€</p>
                                <p class="Discount col-md-2">-50%</p>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>

</div>