@using Zero_Web.Variable;

<head>
    <link href="~/Content/css/Store/Part/TopGameImage.css" rel="stylesheet">
</head>

<div class="TopGame container-fluid">

    @*<div class="TopGameLargeContainer">*@
    <div class="container-fluid TopImageContainer">
        <img class="TopGameImage img-responsive w-100" src="@ImageSource.SVG.TopGame" />
        <img class="TopGameBlurrImage img-responsive w-100" src="@ImageSource.SVG.TopImageBlur" />
    </div>

    <img class="TopGameBlurrImage2 img-fluid w-100" src="@ImageSource.SVG.TopGameBlurr" />
    @*  </div>*@

</div>

<div class="GameDescription container-fluid">
        <div class="row pl-5 pr-5">
            <p class="col-md-12">Gesponsorter Inhalt</p>
            <b class="GameDescriptionGameName col-md-12">The Last Of Us 2</b>
            <p class="description col-md-12">"Atmosphärisch, gigantisch und mit einer hinreißenden Story"</p>
            <div class="container-fluid">
                <div class="row">
                    <button class="BuyTopGame col-md-3">Kaufen</button>
                    <img class="img-responsive col-auto" src="@ImageSource.SVG.Add" />
                    <p class="col-md-4">Auf die Wunschliste</p>
                </div>
            </div>
        </div>
    </div>