:root {
  --MainColor: #FF5E00;
  --WhiteTheme: #fff;
  --DarkTheme: #12161B;
  --TextColor: #9b9b9f;
}
/*Scrollbar*/
::-webkit-scrollbar {
  display: none;
  visibility: hidden;
  background-color: #222;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  visibility: hidden;
  display: none;
  background: #333;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
}
::-webkit-scrollbar-thumb {
  visibility: hidden;
  display: none;
  background: var(--MainColor);
  border-radius: 40px;
}
::-moz-selection {
  /* Code for Firefox */
  background: var(--MainColor);
  visibility: hidden;
  display: none;
}
::selection {
  background: var(--MainColor);
}
body {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  /*overflow-x: hidden;*/
  overflow-x: visible !important;
  background-color: var(--DarkTheme);
}
.body-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.container {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'), url(https://fonts.gstatic.com/l/font?kit=FwZc7-Am2FI_-VOxaLDvvq27omO-&skey=96867d716c89840e&v=v12) format('truetype');
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'), url(https://fonts.gstatic.com/l/font?kit=FwZD7-Am2FI_-VOxaLDvvq2zGUau84_D&skey=470ea9b7edd795d7&v=v12) format('truetype');
}
/*nav {
    position: sticky !important;
    top: 0;
    z-index: 999;
    box-shadow: 0px 0.5px #333;
    background-color: #12161B;
    //height: 8.3vh;
    padding-top: 2.6vh;
    margin-bottom: 0 !important;//
}*/
svg:hover rect {
  fill: var(--MainColor);
}
nav.navbar.sticky-top {
  top: 0;
  z-index: 999;
  box-shadow: 0px 0.5px #333;
  background-color: #12161B;
  margin-bottom: 0 !important;
}
div#FilterNav {
  display: none;
  visibility: hidden;
}
.DropdonwNavShow {
  display: block !important;
  visibility: visible !important;
  height: 46vh !important;
  position: sticky;
  top: 7.3vh;
  z-index: 998;
  box-shadow: 0px 0.5px #333;
  background-color: #12161B;
}
a {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  font-size: 20px;
  font-family: "Proxima Nova";
}
a:hover {
  cursor: pointer;
}
p {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  font-size: 20px;
  font-family: "Proxima Nova";
}
.RightNavSide {
  /*width: 24vw;
    float: right;*/
}
input.SearchBar {
  color: #fff;
  opacity: 0.7;
  background-color: #12161B;
  border: none;
  font-size: 20px;
}
.ShoppingCard {
  color: #fff;
  opacity: 0.7;
}
.ShoppingCardAmmount {
  font-size: 20px;
  font-family: "Proxima Nova";
  color: #fff;
  opacity: 0.7;
}
div {
  -webkit-text-size-adjust: none;
}
.MenuIcon {
  color: #fff;
  opacity: 0.7;
}
img.SearchIcon {
  color: #fff;
  opacity: 0.7;
}
a:hover,
a:focus {
  color: #fff !important;
  opacity: 0.7;
  text-decoration: none !important;
}
input:focus {
  outline-offset: unset !important;
  outline: none !important;
}
input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  content: '';
  background: unset;
  border-radius: 20%;
  border: 2px solid #fff;
  opacity: 0.7;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
input[type=checkbox]:checked {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: inset 0px 0px 0px 3px #12161B;
  content: '';
  background: #FF5E00 !important;
  border-radius: 20%;
  opacity: 1 !important;
  border: 2px solid var(--MainColor);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
input[type=checkbox]:focus {
  outline: 1px solid #ddd;
}
.FilterHeading {
  opacity: 1 !important;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
a.Store {
  border-bottom: solid 3px var(--MainColor);
  border-radius: 3%;
}