@* Context Menu *@
<div class="ContextMenu">
    <div class="menu-item"><i class="fa fa-files-o" aria-hidden="true"></i>Copy</div>
    <div class="menu-item"><i class="fa fa-clipboard" aria-hidden="true"></i>Paste</div>
    <hr>
    <div class="menu-item"><i class="fas fa-code"></i>Code</div>
    <div class="menu-item"><i class="fa fa-book" aria-hidden="true"></i>Read out</div>
    <div class="menu-item"><i class="fa fa-microphone" aria-hidden="true"></i>Speak</div>
    <div class="menu-item"><i class="fa fa-globe" aria-hidden="true"></i>Translate</div>
</div>

@* Scripts ContextMenu *@
<script type="text/javascript" src="~/Scripts/Zero/ContextMenu.js" async></script>
<link rel="stylesheet" href="~/Content/css/Zero/ContextMenu.css" async>