<nav>

    <a href="@Url.Action("Index", "Client", new { area = "Client" })">Client</a>
    <a href="@Url.Action("Index", "Home", new { area = "RestAPI" })">RestAPI</a>
    <a href="@Url.Action("Index", "Docs", new { area = "Docs" })">Docs</a>

</nav>

<link href="~/Content/css/Zero/Nav.css" rel="stylesheet">
