<div class="Socials">
    <a href="https://twitter.com/minimalmonkey" class="icon-button codepen" title="CodePen"><i class="fa fa-codepen"></i><span></span></a>
    <a href="https://twitter.com/minimalmonkey" class="icon-button github" title="Github"> <i class="fa fa-github"></i><span></span></a>
    <a href="https://twitter.com/minimalmonkey" class="icon-button twitter" title="Twitter"><i class="fa fa-twitter"></i><span></span></a>
    <a href="https://twitter.com/minimalmonkey" class="icon-button instagram" title="Instagram"><i class="fa fa-instagram"></i><span></span></a>
    <a href="https://twitter.com/minimalmonkey" class="icon-button facebook" title="FaceBook"><i class="fa fa-facebook"></i><span></span></a>
    <a href="https://twitter.com/minimalmonkey" class="icon-button google-plus" title="Google"><i class="fa fa-google"></i><span></span></a>
    <a href="https://twitter.com/minimalmonkey" class="icon-button youtube" title="YouTube"><i class="fa fa-youtube-play"></i><span></span></a><!-- youtube -->

    <a href="https://twitter.com/minimalmonkey" class="icon-button play_store" title="PlayStore"><i class="fa fa-android"></i><span></span></a>
    <a href="https://twitter.com/minimalmonkey" class="icon-button steam" title="Steam"><i class="fa fa-steam"></i><span></span></a>
    <a href="https://twitter.com/minimalmonkey" class="icon-button whatsapp" title="Whatsapp"><i class="fa fa-whatsapp"></i><span></span></a>
    <a href="https://twitter.com/minimalmonkey" class="icon-button vk" title="VK"><i class="fa fa-vk"></i><span></span></a>
    <a href="https://twitter.com/minimalmonkey" class="icon-button gitlab" title="GitLab"><i class="fa fa-gitlab"></i><span></span></a>
    <a href="https://twitter.com/minimalmonkey" class="icon-button windows" title="Windows"><i class="fa fa-windows"></i><span></span></a>
    <a href="https://twitter.com/minimalmonkey" class="icon-button twitch" title="Twitch"><i class="fa fa-twitch"></i><span></span></a>
    <a href="https://twitter.com/minimalmonkey" class="icon-button snapchat" title="Snapchat"><i class="fa fa-snapchat-ghost"></i><span></span></a>

    <a href="https://twitter.com/minimalmonkey" class="icon-button discord" title="Discord"><i class="fab fa-discord"></i><span></span></a>
</div>

<link href="~/Content/css/Zero/Socials.css" rel="stylesheet">