.ProductListLarge {
  background-color: #1D1D1D;
}
p.ProductListLargeDescription {
  opacity: 1;
  font-size: 25px;
}
p.AppName {
  opacity: 0.8;
}
s.OldPrice {
  font-size: 20px;
  opacity: 0.2;
}
.Combind {
  max-width: 1920px;
}