.Login {
  background-color: var(--DarkTheme);
  position: static;
  width: 30%;
  min-width: 450px;
  max-width: 450px;
  border-radius: 10px;
}
p.col {
  text-align: center;
}
.LoginBackground {
  position: absolute;
  max-width: 1920px !important;
}
.Login {
  position: relative;
}