<head>
    <link href="~/Content/css/Error/Forbidden.css" rel="stylesheet">
    <link href="~/Content/css/Error/style.css" rel="stylesheet">
</head>

@{
    ViewBag.Title = "Zero - Error 403 Forbidden";
}

<div class="ErrorBackgroundImage container-fluid">

</div>

<div class="ErrorContent container-fluid">

    <div class="container-fluid">

        <b class="ErrorCode">403</b>
        <p class="ErrorPageHeading">Forbidden...</p>

        <p class="ErrorDescription">Description text lorem ipsum ....</p>

        <div class="row">

            <a href="#" class="RedirectStart col-auto rounded">
                <p>Back To Home</p>
            </a>

            <a href="#" class="OtherAction col-auto rounded">
                <p>Contact Us</p>
            </a>

        </div>

    </div>

</div>
