.Opinion {
  background-color: var(--DarkTheme);
}
p.Question {
  opacity: 1;
  font-size: 25px;
}
.Option {
  text-align: center;
  font-size: 25px;
  opacity: 0.9;
  border: solid 2px #fff;
  border-radius: 5px 5px 5px 5px;
}
p.Option {
  padding-top: 0.8vh;
  cursor: pointer;
}
img.OpinionBackgroundBlurImage {
  z-index: 1;
  position: relative;
}
img.OpinionBackgroundImage {
  position: absolute;
}