/* Top Bar */
.ChartsFilter {
  position: fixed;
  z-index: 20;
  box-shadow: 0px 0.5px #333;
  background-color: #12161B;
  height: 8.3vh;
  padding-top: 2.6vh;
  border-bottom: solid 1px var(--MainColor);
}
p.Chart {
  opacity: 1;
}
.ChartList {
  padding-left: 9vw;
}
p.Chart.Global {
  color: var(--MainColor);
  border-bottom: solid 3px var(--MainColor);
  border-radius: 3%;
}
.ChartsContent {
  background-color: #1D1D1D;
}
p.Position {
  font-size: 111px;
  opacity: 1;
}
p.ChartCompany {
  font-size: 20px;
  opacity: 1;
}
b.ChartName {
  font-size: 30px;
  opacity: 1;
}
img.ChartItemImage.img-fluid {
  position: absolute;
}
img.ChartItemImageBlur.img-fluid {
  position: relative;
}
.ChartInfo.col {
  position: absolute;
  z-index: 1;
}