.GameDescription h1 {
  font-size: 60px;
}
#description {
  opacity: 1;
  font-size: 60px;
  width: 43vw;
}
.BuyTopGame {
  background-color: #00FF80;
  border-radius: 100em;
  height: 4.5vh;
  border-width: 0;
}
.AddToWishCard p {
  font-size: 18px;
}