form {
  color: #fff;
  padding-bottom: 11vh;
  padding-top: 11vh;
}
input {
  margin-top: 0vh;
  color: var(--DarkTheme);
  width: 25vw;
  position: relative;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  z-index: 1;
}
textarea {
  width: 25vw;
}
.CreateItem {
  align-items: center;
  padding-left: 49.5vw;
  padding-right: 49.5vw;
}
select {
  width: 15vw;
  background-color: var(--DarkTheme);
}
.Category {
  padding-top: 7vh;
}